

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiFormLabel-asterisk {
  color:red!important;
}



#root {
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
    align-items: center;
}

